.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.link {
  text-align: center;
  margin-top: 24px;
  font-size: 15px;

  a {
    color: #3f51b5;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
